.form-table {
  display: table;
  border-collapse: collapse; }

.input-group {
  display: table-row; }

.input-label, .input-control {
  border: 10px solid rgba(0, 0, 0, 0);
  display: table-cell; }

.input-label {
  text-align: right; }

:focus {
  outline: none; }

::-moz-focus-inner {
  border: 0; }

.btn, .btn-blue, .btn-green, .btn-yellow, .btn-red, .btn-orange, .btn-petrol {
  background: #f6f6f6;
  border: 1px solid #ededed;
  border-radius: 3px;
  padding: 3px;
  cursor: pointer;
  font-size: 0.9em;
  box-shadow: 0 0 1px #ccc; }

.btn-blue, .btn-green, .btn-yellow, .btn-red, .btn-orange, .btn-petrol {
  color: white;
  border: none; }
  .btn-blue:hover, .btn-green:hover, .btn-yellow:hover, .btn-red:hover, .btn-orange:hover, .btn-petrol:hover {
    box-shadow: inset 0 0 5px #888; }
  .btn-blue:active, .btn-green:active, .btn-yellow:active, .btn-red:active, .btn-orange:active, .btn-petrol:active {
    box-shadow: inset 0 0 5px #333; }

.btn-blue {
  background: #15b7e5; }

.btn-green {
  background: #84cc38; }

.btn-yellow {
  background: #ffc400; }

.btn-orange {
  background: #ff6225; }

.btn-red {
  background: #e1190d; }

.btn-petrol {
  background: #00beb4; }

@font-face {
  font-family: 'Entypo';
  src: url("../fonts/entypo.eot");
  src: url("../fonts/entypo.woff") format("woff"), url("../fonts/entypo.ttf") format("truetype"); }

.entypo {
  font-family: 'Entypo';
  display: inline-block;
  padding: 3px;
  line-height: 0.5em;
  font-size: 40px; }
  .entypo.entypo-user:before {
    content: '\1F464'; }
  .entypo.entypo-circled-arrow-right:before {
    content: '\E75A'; }
  .entypo.entypo-user-add:before {
    content: '\E700'; }

@font-face {
  font-family: 'Varela Round';
  src: url("../fonts/VarelaRound-Regular.ttf") format("truetype"); }

.content-block {
  background: white;
  border-radius: 2px;
  display: inline-block;
  box-shadow: 0px 0px 3px #ddd; }
  .content-block .content-head {
    border-bottom: 1px solid #eee;
    padding: 15px;
    color: #999;
    font-size: 1.2em; }
    .content-block .content-head span {
      cursor: pointer; }
    .content-block .content-head span.active {
      color: #333; }
  .content-block .content-body {
    padding: 15px;
    color: #666; }

.user-content {
  color: #222; }
  .user-content .user-head {
    padding: 10px 20px;
    margin: 0px 20px;
    display: block; }
    .user-content .user-head .user-name {
      font-size: 3em; }

input {
  background: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
  box-shadow: inset 0 0 1px #ddd; }

img.avatar-big {
  height: 100px;
  width: 100px;
  border-radius: 50px; }

img.avatar-small {
  height: 34px;
  width: 34px;
  border-radius: 17px; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Varela Round', Verdana, Arial, sans-serif; }

html, body {
  height: 100%; }

body {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row; }

.nav-main {
  width: 300px;
  height: 100%;
  background: #222222;
  color: #666666; }
  .nav-main .nav-logo {
    text-align: center;
    font-size: 2.5em;
    margin: 25px 0px 5px 0px;
    color: white; }
  .nav-main .nav-section {
    font-size: 1.1em;
    margin: 20px 0px 5px 0px;
    padding-left: 20px; }
  .nav-main hr {
    border: 1px solid #666666; }
  .nav-main ul.nav-list {
    list-style: none;
    margin: 10px 20px;
    font-size: 1.2em; }
    .nav-main ul.nav-list li {
      padding: 5px; }
      .nav-main ul.nav-list li > * {
        cursor: pointer;
        vertical-align: middle; }
    .nav-main ul.nav-list li.active {
      color: white; }

.content-main {
  background: #f6f6f6;
  flex-grow: 1;
  flex-shrink: 1;
  height: 100%;
  position: relative; }

.login {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: block;
  margin: auto;
  height: 250px;
  width: 380px; }
  .login .input-label {
    width: 190px; }

#loading-indicator {
  display: none;
  position: absolute;
  width: 100%;
  height: 4px;
  overflow-x: hidden;
  background: repeating-linear-gradient(-45deg, #15b7e5, #15b7e5 5px, #74d2ec 5px, #74d2ec 10px);
  z-index: 9001;
  border-bottom: 1px solid #888; }
  #loading-indicator.active {
    animation: slide infinite 0.2s linear;
    display: block; }

@keyframes slide {
  0% {
    background-position: 0px; }

  100% {
    background-position: 14px; } }
