// Sytles for buttons
.btn {
  background: #f6f6f6;
  border: 1px solid #ededed;
  border-radius: 3px;
  padding: 3px;
  cursor: pointer;
  font-size: 0.9em;
  box-shadow: 0 0 1px #ccc;

  &:hover {
  }
}

.btn-blue, .btn-green, .btn-yellow, .btn-red, .btn-orange, .btn-petrol {
  @extend .btn;
  color: white;
  border: 1px solid rgba(0,0,0,0);
}

.btn-blue {
  background: adjust-lightness($blue, 10);
  &:hover {
    background: $blue;
  }
}
.btn-green {
  background: adjust-lightness($green, 10);
  &:hover {
    background: $green;
  }
}
.btn-yellow {
  background: adjust-lightness($yellow, 10);
  &:hover {
    background: $yellow;
  }
}
.btn-orange {
  background: adjust-lightness($orange, 10);
  &:hover {
    background: $orange;
  }
}
.btn-red {
  background: adjust-lightness($red, 10);
  &:hover {
    background: $red;
  }
}
.btn-petrol {
  background: adjust-lightness($petrol, 10);
  &:hover {
    background: $petrol;
  }
}

