// Define all widths, heights, colors etc.

$main-nav-width: 200px;

$main-nav-background-color: #222222;
$main-content-background-color: #f6f6f6;

$nav-color-inactive: #333;
$nav-color-active: white;
