@font-face {
  font-family: 'Entypo';
  src: url('../fonts/entypo.eot');
  src: url('../fonts/entypo.woff') format('woff'), url('../fonts/entypo.ttf') format('truetype');
}

.entypo {
  font-family: 'Entypo';
  display: inline-block;
  padding: 3px;
  line-height: 0.5em;
  font-size: 40px;

  &.entypo-user:before {
    content: '\1F464';
  }
  &.entypo-circled-arrow-right:before {
    content: '\E75A';
  }
  &.entypo-user-add:before {
    content: '\E700';
  }
  &.entypo-reload:before {
    content: '\1F504';
  }
}

